<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand text-light" routerLink="">E-RESUME BUILDER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-right" id="nav1">
        <a class="nav-link me-2" routerLink=""><button class="btn btn-outline-light me-2 glyphicon glyphicon-home" type="button"> Home</button></a>
        <a class="nav-link me-2" routerLink="signup"><button class="btn btn-outline-light me-2 glyphicon glyphicon-user" type="button"> Signup</button></a>
        <a class="nav-link me-2" routerLink="login"><button class="btn btn-outline-light me-2 glyphicon glyphicon-log-in" type="button"> Login</button></a>
        <a class="nav-link me-2" routerLink="contactus"><button class="btn btn-outline-light me-2 glyphicon glyphicon-envelope" type="button"> Contact us</button></a>
      </div>
    </div>
  </div>
</nav>
<!-- <div>
    <h3 class="float-md-start mb-0">Resume Builder</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link active" aria-current="page" routerLink="">Home</a>
      <a class="nav-link active" routerLink="blogs">Blogs</a>
      <a class="nav-link active" routerLink="signup">SignUp</a>
      <a class="nav-link active" routerLink="login">LogIn</a>
      <a class="nav-link active" routerLink="contactus">Contact Us</a>
    </nav>
  </div> -->