<!-- <div class="login-form">    
    <form action="/examples/actions/confirmation.php" method="post">
		<div class="avatar"><i class="fa fa-user"></i></div>
    	<h4 class="modal-title">Login to Your Account</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group small clearfix">
            <label class="form-check-label"><input type="checkbox"> Remember me</label>
            <a href="#" class="forgot-link">Forgot Password?</a>
        </div> 
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">              
    </form>			
    <div class="text-center small">Don't have an account? <a href="#">Sign up</a></div>
</div> -->
<!-- <div class="sidenav">
    <div class="login-main-text">
       <h2>Application<br> Login Page</h2>
       <p>Login or register from here to access.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form>
             <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" placeholder="User Name">
             </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password">
             </div>
             <button type="submit" class="btn btn-black">Login</button>
             <button type="submit" class="btn btn-secondary">Register</button>
          </form>
       </div>
    </div>
 </div> -->
 <!-- <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://cdn.corporatefinanceinstitute.com/assets/professional-corporation-1024x683.jpeg" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                        <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
                        <div class="facebook text-center mr-3">
                            <div class="fa fa-facebook"></div>
                        </div>
                        <div class="twitter text-center mr-3">
                            <div class="fa fa-twitter"></div>
                        </div>
                        <div class="linkedin text-center mr-3">
                            <div class="fa fa-linkedin"></div>
                        </div>
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div> <small class="or text-center">Or</small>
                        <div class="line"></div>
                    </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Email Address</h6>
                        </label> <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address"> </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Password</h6>
                        </label> <input type="password" name="password" placeholder="Enter password"> </div>
                    <div class="row px-3 mb-4">
                        <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div> <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                    </div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Login</button> </div>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a class="text-danger ">Register</a></small> </div>
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2019. All rights reserved.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="container register">
    <div class="row">
    <div class="col-md-3 register-left">
    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
    <h3>Welcome</h3>
    <p>You are 30 seconds away from earning your own money!</p>
    </div>
    <div class="col-md-9 register-right">
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
    <h3 class="register-heading">Login</h3>
    <div class="row register-form">
    <div class="col-md-12 profile_card">
        <form class="form-inline">
        <div class="form-group">
            <i class="fa fa-envelope-o"></i>
            <input type="text" class="form-control" placeholder="Email" value="" />
        </div>
        <div class="form-group">
                 <i class="fa fa-lock"></i>
            <input type="password" class="form-control" placeholder="Password *" value="" />
        </div>
        <div class="float-right">
          <input type="submit" class="btn btn-primary" value="Register" />
          </div>
          </form>
    </div>
    </div>
    </div>
    <div class="tab-pane fade show" id="newuser" role="tabpanel" aria-labelledby="newuser-tab">
    <h3 class="register-heading">New User</h3>
    <div class="row register-form">
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name *" value="" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name *" value="" />
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email *" value="" />
        </div>
        <div class="form-group">
            <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
        </div>
    
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password *" value="" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
        </div>
         <div class="float-right">
        <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> -->
<section class="login-block">
        <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Login Now</h2>
                <form class="login-form">
      <div class="form-group">
        <label for="exampleInputEmail1" class="text-uppercase">Username</label>
        <input type="text" class="form-control" placeholder="">
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="text-uppercase">Password</label>
        <input type="password" class="form-control" placeholder="">
      </div>
      
      
        <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          <small>Remember Me</small>
        </label>
        <button type="submit" class="btn btn-login float-right">Submit</button>
      </div>
      
    </form>
            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="https://images.pexels.com/photos/590016/pexels-photo-590016.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <div class="banner-text">
                <h2>Welcome Back</h2>
                <p><b>Use the form to Log in to our website if you have an account</b></p>
            </div>	
      </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://images.pexels.com/photos/5668859/pexels-photo-5668859.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <div class="banner-text">
                <h2>Welcome Back</h2>
                <p><b>Use the form to Log in to our website if you have an account</b></p>
            </div>	
        </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://images.pexels.com/photos/5989943/pexels-photo-5989943.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <div class="banner-text">
                <h2>Welcome Back</h2>
                <p><b>Use the form to Log in to our website if you have an account</b></p>
            </div>	
        </div>
      </div>
                </div>	   
                
            </div>
        </div>
    </div>
    
